@import 'foundation.css';

@include foundation-xy-grid-classes;


@include foundation-xy-grid-classes(
  $base-grid: true,
  $margin-grid: true,
  $padding-grid: true,
  $block-grid: true,
  $collapse: true,
  $offset: true,
  $vertical-grid: true
);
html { font-size: 100%; }

.box{
  width:400px;
  height:50px;
  border: 2px solid black;
}

.slider-stopka{
padding-top:30px;

}
.poziom-1{
background-color:#e1eef8;
margin-top:30px;
padding:10px;
vertical-align: middle;
line-height: 45px;
font-size:1.2rem;
}
.poziom-2{
vertical-align: middle;
line-height: 25px;
font-size:1rem;
padding:10px;
}
.stopka .stopka-naglowek{
  padding:20px;
}

.galeria img{
  width:100%;

}

.opis-oferty{
  padding-left:20px;
}

.thumbs{
max-width:100%;
}

.text-head{
font-size:24px;
font-weight: 550;
margin-bottom:10px;
}

.opis-oferty{
margin-left:15px;
margin-right:25px;
font-size:14px;
}

.price-label{
  font-size:24px;
  font-weight: 550;
}

.price{
font-size:20px;
color:red;
padding-bottom:15px;
}

.odstep-20{
  padding:20px;
}

.rezerwacja{
  margin-bottom:2px;
}

.oferta{
padding-bottom:50px;
}

.reklamy{
  margin-bottom:30px;
}

.reklamy img{
  width:100%;
  padding:20px;
  display:inline-block!important;
}

.szukajka{
margin-bottom:70px;
}

.stopka-linki{
  font-size:1rem;
  margin:2rem;
}
.stopka-linki nav ul li{
  list-style-type:none;
  color:black;
  text-decoration: none;
  padding-left: 0px;
  padding:right: 0px;
}
.stopka-odstep p{
  padding-left: 15px;
  padding-right: 10px;
}




@media only screen and (max-width: 1024px) {


  .rodzaj_wycieczki fieldset{
    padding:0.5rem;
  }
}


  @media only screen and (max-width: 640px) {


    .rodzaj_wycieczki fieldset{
      padding:0.5rem;
    }

    }


  @media only screen and (max-width: 360px) {


    .rodzaj_wycieczki fieldset{
      padding:0.5rem;
    }


}
