// Settings
@import "settings";

// Foundation
@import "node_modules/foundation-sites/scss/foundation";

// Include Everything (True) for the Flex Grid :);
@include foundation-everything(true);

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:100%;
    height:100%;
}
body{
    width:100%;
    height:100%;
}

.front{
    .wow-list{
        overflow: auto;
        overflow-y: hidden;
    }

    .breadcrumbs{
        margin-top:20px;
    }
    .menu{
        background-color: #343a40;
        padding-top:5px;
        padding-bottom:5px;
        a{
            color:white;
        }
        .logo{
            a{
                padding:0;
                img{
                    max-height:50px;
                }
            }
        }
    }
    .offer{
        padding:20px;
        .module-title{
            font-size:16px;
            font-weight:600;
        }
        
        .info{
            margin:15px;
            .title{
                color: #1c1c1c;
                font-weight:600;
            } 
            .description{
                color:gray;
            }
            
        }
    }
    .slider-main{
    
    }
    .slider-bottom{
        margin-top:15px;
    }
    .product-card{
        padding-bottom:30px;
        .offer-description-div
        {
            margin-top:20px;
            margin-bottom:20px;
        }
        .description{
            padding-top:30px;
        }
        .gallery{
            img{
                padding:20px;
            }
        }
    }
    .offer-page{
        .foto{
            width:100%;
            height:60%;
            img{
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }
    }
}


.footer{
   
    background-color: #343a40;
    color:white;
    padding-top: 25px;
    padding-bottom: 25px;
    .copyright{
        margin-top:20px;
        font-size: 12px;
        text-align:center;
    }
}

.panel{
    .left{
        height:100%;
        .menu{
            h2{
                text-align:center;
                color:white;
            }
            height:100%;
            padding:0;
            display:block;
            height:100%;
            background-color: #191919;
            ul{
                margin:0;
                background-color: #232323;
                li{
                    a{
                        color:white;
                    }
                    list-style-type: none;
                }
            }
        }
    }
   
}


